.audio {
  width: 1em;
  height: 1em;
  fill: #ff3334;
}
.disk {
  width: 1em;
  height: 1em;
  fill: #ff3334;
}
.headphones {
  width: 1.06em;
  height: 1em;
  fill: #ff3334;
}
.kiwi {
  width: 1.22em;
  height: 1em;
  fill: #C6C6C6;
}
.lines {
  width: 1.38em;
  height: 1em;
  fill: #ff3334;
}
.off {
  width: 0.98em;
  height: 1em;
  fill: #ff3334;
}